<!DOCTYPE html>
<html>
<head>
	<title>Cocktails</title>
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />

</head>
<body>

	<header class="header">

		<a href="{{ path('home') }}">
			<img class="logo-header" src="{{ asset('assets/img/logo.jpg') }}" alt="logo recettes" />
		</a>

		<nav class="nav-header">

			<ul class="nav-menu">

				<li><a href="{{ path('home') }}">Accueil</a></li>
				<li><a href="{{ path('list-cocktails') }}">Liste des cocktails</a></li>
			</ul>


		</nav>

	</header>